@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "anltp";
    src: url("assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "anltp-bo";
    src: url("assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: "anltp-it";
    src: url("assets/font/AvenirNextLTPro-It.otf") format("opentype");
}

.testi-grad{
    background: rgb(0,196,147);
    background: radial-gradient(rgba(0,196,147,0.3031337535014006) 0%, rgba(0,212,255,0) 70%);
    /* z-index: -; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}